.IconInserterModal .components-card__body,
.IconInserterModal .components-card__footer {
	padding-left: 0;
	padding-right: 0;
}

.IconInserterModal .components-card__footer {
	padding-top: 0;
	padding-bottom: 0;
}
